<ng-container>
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Profile</mat-card-title>
        <mat-card-subtitle>Welcome @{{user?.name}}</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-form-field style="margin-top: 20px">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
        {{longText}}
      </mat-list>




    </mat-card-content>
  </mat-card>
</ng-container>
