<ng-container>
  <mat-card class="tweet-card">
    <mat-card-content>
        <mat-form-field>
          <mat-label>What's happening?</mat-label>
          <textarea maxlength="280" #tweet matInput></textarea>
          <h6>You have left {{280 - tweet.value.length}} characters</h6>
        </mat-form-field>
      <mat-card-actions align="end">
        <button (click)="onTweetClick(tweet.value)" mat-raised-button color="primary">Tweet</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</ng-container>
