<ng-container>
  <mat-card class="tweet-card">
    <mat-card-content>
        <mat-form-field>
          <mat-label>What's happening?</mat-label>
          <textarea [attr.maxlength]="TWEET_MAX_LENGTH" [(ngModel)]="TWEET" matInput></textarea>
          <h6 [innerHTML]="charactersLeft"></h6>
        </mat-form-field>
      <mat-card-actions align="end">
        <button (click)="onTweetClick()" mat-raised-button color="primary">Tweet</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</ng-container>
